/* image_overlays.scss */

/* Overlay positioning */
.ft-overlay {
    position: absolute;
    padding: $ftVelcro-spacingUnitQuarter $ftVelcro-spacingUnitHalf;
}

.ft-overlay-topleft {
    top: 0;
    left: 0;
}

.ft-overlay-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.ft-overlay-bottomright-credit {
    bottom: 0;
    right: 0;
    padding: 2px 2px 1px 2px;
}

/* Overlay backgrounds */
.ft-overlay-bg20 {
    @include semi-transparent-bg(0.2);
}

.ft-overlay-bg30 {
    @include semi-transparent-bg(0.3);
}

.ft-overlay-bg50 {
    @include semi-transparent-bg(0.5);
}

/* Overlay contents */
.ft-overlay-heading {
    font-family: $ftFont-Benton;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
}

.ft-overlay-title {
    font-family: $ftFont-Benton;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.ft-overlay-caption {
    font-family: $ftFont-Benton;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.ft-overlay-credit {
    display: block;
    font-size: 9px;
    line-height: 9px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}