/*
	Styles for font size, colour and vertical rhythm of text on standard FT brnaded pages
*/
$o-velcro-body-text-color: $o-colors-charcoal;
$o-velcro-link-text-color: $o-colors-blue;
$o-velcro-link-text-hover-color: $o-colors-black;
$o-velcro-title-primary-color: $o-colors-black;
$o-velcro-subheading-color: $o-colors-black;
$o-velcro-byline-color: $o-colors-warm-grey2;

$o-velcro-body-font: $o-fonts-serif;
$o-velcro-body-bold-font: $o-fonts-serif;
$o-velcro-title-font: $o-fonts-millerdisplay-normal;
$o-velcro-subheading-font: $o-fonts-bentonsans-bold;
$o-velcro-ui-font: $o-fonts-bentonsans-normal;

@mixin oVelcroFontSize($size, $lineHeight: null, $offset: 0) {
	font-size: $size + px;
	// line-height: $originalLineHeight / $originalHeight;
	@if ($lineHeight) {
		line-height: $lineHeight + px;
	}
	@include oVelcroFontOffset($offset);
}

@mixin oVelcroFontOffset ($offset) {
	@if ($offset > 0) {
		padding-top: $offset + px;
		margin-bottom: -$offset + px;
	} @else if ($offset < 0) {
		margin-top: $offset + px;
		padding-bottom: -$offset + px;
	}
}

@mixin oVelcroPrimaryTitle () {
	@include oVelcroFontSize(28, 30, -5);
	font-family: $o-velcro-title-font;
	color: $o-velcro-title-primary-color;
}

@mixin oVelcroSubheading () {
	@include oVelcroFontSize(14, 28);
	font-family: $o-velcro-subheading-font;
	color: $o-velcro-subheading-color;
	margin-bottom: 10px;
	font-family: $o-velcro-subheading-font;
	color: $o-velcro-subheading-color;
	border-top: 1px dotted $o-colors-warm-grey2;
	border-bottom: 1px dotted $o-colors-warm-grey2;

	& + * {
		margin-top: 0;
	}
}

@mixin oVelcroByline () {
	@include oVelcroFontSize(14, 20);
	font-family: $o-velcro-ui-font;
	color: $o-velcro-byline-color;
}

@mixin oVelcroBodyText () {
	@include oVelcroFontSize(14, 20);
	font-family: $o-velcro-body-font;
	color: $o-velcro-body-text-color;
}

@mixin oVelcroBodyTextBlock () {
	margin-bottom: 20px;
	margin-top: 20px;
}

@mixin oVelcroBodyTextBold () {
	//font-family: $o-velcro-body-bold-font;
	font-weight: bold;
}

@mixin oVelcroBodyTextItalic () {
	font-style: italic;
}

@mixin oVelcroSmallerText () {
	font-size: 0.75em;
}

@mixin oVelcroSuperscript () {
	vertical-align: super;
}

@mixin oVelcroSubscript () {
	vertical-align: sub;
}

@mixin oVelcroBodyList () {
	list-style-position: outside;
	padding-left: 20px;
}


@mixin oVelcroBodyOrderedList () {
	@include oVelcroBodyList(); 
	list-style-type: decimal;
}

@mixin oVelcroBodyUnorderedList () {
	@include oVelcroBodyList(); 
	list-style-type: disc;
}

@mixin oVelcroBodyLink () {
	text-decoration: none;
	color: $o-velcro-link-text-color;
}

@mixin oVelcroBodyLinkHover () {
	color: $o-velcro-link-text-hover-color;
}

@mixin oVelcroIncludeTypographyClasses () {
	.ft-title {
		@include oVelcroPrimaryTitle();
	}

	// etc etc
}



