.v-pagecontainer {
    margin: 0 auto 200px auto;
    width: 960px;
}

.v-header {
    margin-bottom: 20px;
    padding: 10px 0 0 0;
    border-bottom: 1px solid #ddd;
}

.v-section {
    position: relative;
    margin: 0 0 40px 0;
    border-top: 3px solid #ddd;
    padding-top: 20px;
}

.v-nav {
    margin: 0 0 20px 0;
    width: 800px;
    overflow: hidden;
}

.v-nav li {
    float: left;
    margin: 0 0 5px 0;
    width: 200px;
}