.v-sample {
    margin: 0 0 15px 0;
    border: 1px solid #eedddd;
    padding: 15px;
    background-color: #fff1e0;
    box-shadow: 5px 5px 10px #eee;
    overflow: hidden;
}

.v-sample-col6 {
    width: 448px;
}

.v-sample-col9 {
    width: 688px;
}

.v-mock-image {
    display: inline-block;
    text-align: center;
    background: #ddd url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAIAAABxU02MAAAAyElEQVRIiZ3UsQpEIQxE0dmIha/x/z/RXrAQYRtBlEST2A7X0+VXSqm1QnhElHMW19aatAH4vu+y0hhD2kIIMUZp7b3T5eOU0mVtrYnxkx1jiPGTBcDHGlaMNSwfK1k+VrJMrGeZWM+esYk9YxO7xVZ2i63sih3sih3sjH3sjH0sAHKzAMjNAiA3G0K43bA7m1IS4ycbYxTjJwvpDGlYMdawfKxk+VjJMrGeZWI9e8Ym9oxN7BZb2S22sit2sCt2sDP2sTP2sQD+xXK0HW4TBd8AAAAASUVORK5CYII=');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    outline: 1px solid #ccc;
    color: #888;
}

.v-mock-image-article {
    width: 600px;
    height: 338px;
    line-height: 338px;
}

.v-mock-image-primary {
    width: 272px;
    height: 153px;
    line-height: 153px;
}

.v-mock-image-secondary {
    width: 167px;
    height: 96px;
    line-height: 96px;
}

.v-mock-image-tertiary {
    width: 114px;
    height: 64px;
    line-height: 64px;
}

.v-mock-image-leader {
    width: 414px;
    height: 233px;
    line-height: 233px;
}

.v-mock-image-fullwidth {
    width: 972px;
    height: 547px;
    line-height: 547px;
}