.v-sample {
    margin: 0 0 15px 0;
    border: 1px solid #eedddd;
    padding: 15px;
    background-color: #fff1e0;
    box-shadow: 5px 5px 10px #eee;
}

.v-sample-rail {
    width: 352px;
}

.v-sample-editorial {
    width: 600px;
}