/* Velcro GitHub pages styles - not part of Velcro itself */

.v-pagecontainer {
    margin: 0 auto;
    width: 990px;
}

.v-header {
    margin-bottom: 20px;
    padding: 10px 0 0 0;
    border-bottom: 1px solid #ddd;
}

.v-section {
    margin: 0 0 20px 0;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.v-nav li {
    margin: 0 0 5px 0;
}

.v-title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    color: #BAB195;
}

.v-title-large {
    font-size: 28px;
}

.v-title-medium {
    font-size: 20px;
}

.v-title-small {
    font-size: 16px;
}

.v-nav {
    margin: 0 0 20px 0;
}

.v-link {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #66a;
    text-decoration: underline;
}

.v-link:hover {
    text-decoration: none;
}

.v-link-small {
    font-size: 12px;
}

.v-paragraph {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #666;
}

.v-warning {
    color: #a66;
}

.v-sample {
    margin: 0 0 15px 0;
    border: 1px solid #eedddd;
    padding: 15px;
    background-color: #fff1e0;
}

.v-sample-rail {
    width: 352px;
}

.v-note {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    color: #888;
}

.v-list {
    margin: 0 0 20px 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    color: #666;
}

.v-list li {
    margin-bottom: 5px;
    list-style-type: disc;
}

.v-table {
    margin: 0 0 20px 0;
}

.v-table-column-title,
.v-table-row-title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #666;
}

.v-table-column-title {
    font-size:14px ;
}

.v-table-row-title {
    font-size:12px ;
}

.v-table th,
.v-table td {
    padding: 2px 20px 20px 0;
}

.v-swatches {
    margin: 0 0 20px 0;
    border: 1px solid #eedddd;
    padding: 15px 15px 0 15px;
    overflow: hidden;
}

.v-swatch {
    float: left ;
    margin: 0 0 20px 0;
    width: 300px;
}

.v-swatch-color {
    float: left ;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.v-swatch-label {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    line-height: 30px;
}