.v-swatches {
    margin: 0 0 20px 0;
    border: 1px solid #eedddd;
    padding: 15px 15px 0 15px;
    overflow: hidden;
}

.v-swatch {
    float: left ;
    margin: 0 0 20px 0;
    width: 300px;
}

.v-swatch code {
    color: #aaa;
}

.v-swatch-color {
    float: left ;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.v-swatch-label {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    line-height: 30px;
}