/* Velcro GitHub pages styles - not part of Velcro itself */

.v-paragraph {
    margin: 0 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #666;
}

.v-warning {
    color: #a66;
}

.v-note {
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #888;
}

.v-list {
    margin: 0 0 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

.v-list li {
    margin-bottom: 5px;
    list-style-type: disc;
}