.ft-badge {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 4px 0px 4px;
    font-family: $ftFont-Benton;
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
    letter-spacing: 1px;
}

.ft-badge-red {
    background-color: $ftColor-Red;
    color: #fff;
}