/** buttons.scss */

.ft-button {
    display: inline-block;
    margin: 0;
    padding: 0 8px !important;
    border-width: 0 !important;
    border-radius: 0.3em;
    width: auto !important;
    background: #4e8fbd;
    background: -webkit-gradient(linear, left top, left bottom, from(#549ccf), to(#4782ab));
    background: -moz-linear-gradient(#549ccf, #4782ab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#549ccf, endColorstr=#4782ab);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#549ccf,  endColorstr=#4782ab)";
    zoom: 1;
    box-shadow: inset 0 1px 0 #90bfe0;
    -moz-box-shadow: inset 0 1px 0 #90bfe0;
    -webkit-box-shadow: inset 0 1px 0 #90bfe0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 0 0 0 #FFF;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.ft-button:hover {
    color: #dddddd;
}

.ft-button-large {
    min-height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.ft-button-medium {
    min-height: 24px;
    line-height: 24px;
    font-size: 14px;
}

.ft-button-small {
    min-height: 16px;
    line-height: 16px;
    font-size: 12px;
}

.ft-button-negative {
    background: #b7315c;
    background: -webkit-gradient(linear, left top, left bottom, from(#cc3366), to(#9f2f50));
    background: -moz-linear-gradient(#cc3366,  #9f2f50);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3366, endColorstr=#9f2f50);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3366,  endColorstr=#9f2f50)";
    box-shadow: inset 0 1px 0 #D89AAD;
    -moz-box-shadow: inset 0 1px 0 #D89AAD;
    -webkit-box-shadow: inset 0 1px 0 #D89AAD;
}

.ft-button.ft-state-disabled, .ft-button[disabled] {
    background: #acacac;
    background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#a5a5a5));
    background: -moz-linear-gradient(#b5b5b5, #a5a5a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b5b5b5, endColorstr=#a5a5a5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b5b5b5,  endColorstr=#a5a5a5)";
    box-shadow: inset 0 1px 0 #a5a5a5;
    -moz-box-shadow: inset 0 1px 0 #a5a5a5;
    -webkit-box-shadow: inset 0 1px 0 #a5a5a5;
    cursor: default;
    color: #fff;
}