/* Primary Palette */





/* Greys */






/* Tints */



/* Colours */



/* Primary Palette */
$ftColor-PrimaryPink:#fff1e0;
.ft-color-PrimaryPink { background-color: $ftColor-PrimaryPink; }

$ftColor-LinkBlue:#2e6e9e;
.ft-color-LinkBlue { background-color: $ftColor-LinkBlue; }

$ftColor-Claret:#9b164f;
.ft-color-Claret { background-color: $ftColor-Claret; }

$ftColor-Skyline:#e3dfca;
.ft-color-Skyline { background-color: $ftColor-Skyline; }

$ftColor-Orange:#d66d06;
.ft-color-Orange { background-color: $ftColor-Orange; }

/* Greys */
$ftColor-WarmGrey1:#a7a59b;
.ft-color-WarmGrey1 { background-color: $ftColor-WarmGrey1; }

$ftColor-WarmGrey2:#74736c;
.ft-color-WarmGrey2 { background-color: $ftColor-WarmGrey2; }

$ftColor-CoolGrey1:#777;
.ft-color-CoolGrey1 { background-color: $ftColor-CoolGrey1; }

$ftColor-CoolGrey2:#dfded8;
.ft-color-CoolGrey2 { background-color: $ftColor-CoolGrey2; }

$ftColor-DarkGrey:#505050;
.ft-color-DarkGrey { background-color: $ftColor-DarkGrey; }

/* Tints */
$ftColor-Tint1:#f6e9d8;
.ft-color-Tint1 { background-color: $ftColor-Tint1; }

$ftColor-Tint2:#e9decf;
.ft-color-Tint2 { background-color: $ftColor-Tint2; }

/* Colours */
$ftColor-Red:#c00;
.ft-color-Red { background-color: $ftColor-Red; }

$ftColor-Green:#458b00;
.ft-color-Green { background-color: $ftColor-Green; }