/** Headings */

.ft-heading {
    font-family: BentonSans, Helvetica, Arial, sans-serif;
    color: #000;
}
.ft-heading a[href] {
    color: #000;
}

.ft-heading a[href]:hover {
    color: #2e6e9e;
}

.ft-heading-medium {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}

.ft-heading-small {
  font-size: 14px;
  line-height: 18px;
}
