/** links.scss */

.ft-link {
    color: $ftColor-Blue;
    text-decoration: none;
}

.ft-link:hover {
    color: #000;
}

.ft-link-stealth {
    color: inherit;
    text-decoration: none;
}

.msie7 .ft-link-stealth {
    color:expression(this.parentNode.currentStyle['color']);
}

.ft-link-stealth:hover {
    color: $ftColor-Blue;
}

.ft-link-alternative {
    color: $ftColor-Claret;
}

.ft-link-kicker {
    color: #000;
}