/** Lists */

.ft-list {
    margin: 0;
    padding: 0;
    color: $ftColor-DarkGrey;
}

.ft-list-item {
    margin: 0;
    padding: 0;
}

.ft-list-bulletted ft-list-item,
.fr-list-numbered ft-list-item {
    margin-left: 20px;
}

.ft-list-plain .ft-list-item {
    list-style-type: none;
}

.ft-list-bulletted .ft-list-item {
    list-style-type: disc;
}

.ft-list-numbered .ft-list-item {
    list-style-type: decimal;
}

.ft-list-wrapping .ft-list-item {
    display: inline-block;
    clear: none;
}