/**
 * Module header small - general
 */
.ft-modhdr-sml {
    position: relative;
    border-radius: 4px;
    background-color: $ftColor-Tint2;
    height: 9px;
    overflow: hidden;
}

.ft-modhdr-sml-title {
    display: inline-block;
    position: relative;
    top: -5px;
    padding:0 10px;
    font-family: $ftFont-Benton;
    font-size: 12px;
    line-height: 10px;
    background-color: $ftColor-Pink;
}

.ft-modhdr-sml-titleleft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ft-modhdr-sml-titleleft .ft-modhdr-sml-title {
    padding-left: 0;
}

.ft-modhdr-sml-titlecenter {
    text-align: center;
}

/**
 * Module header medium - general
 */

.ft-modhdr-med {
    clear: left;
    font-family: $ftFont-Benton;
    background: url($imagePath + 'mod-header-border.png') bottom left repeat-x;
    overflow: hidden;
}

.ft-modhdr-med-title {
    float: left;
    margin: 8px 0 8px 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    font-style: normal;
    color: #434343;
}

a.ft-modhdr-med-title:hover {
    color: $ftColor-Blue;
}

.msie6 .ft-modhdr-med {
    height: 34px;
    overflow: visible;
}

.msie6 .ft-modhdr-med-title {
    display: inline;
}

.msie7 .ft-modhdr-med {
    min-height: 34px;
}

/**
 * Module header medium variants
 */

.ft-modhdr-med-border {
    border-top: 4px solid $ftColor-WarmGrey1;
}

.ft-modhdr-med-tint {
    background-color: $ftColor-Tint2;
}

/**
 * Module header medium tabs general
 */
.ft-tabs {}

.ft-tab {
    float: left;
}

.ft-tab-title {
    display: block;
    white-space: nowrap;
    color: #434343;
    text-overflow: ellipsis;
}

a.ft-tab-title:hover {
    color: $ftColor-Blue;
}


/**
 * Module header medium tabs variants
 */

.ft-tabs-withtitle {
    float: right;
}

.ft-tabs-withtitle .ft-tab {
    margin-right: 10px;
}

.ft-tabs-withtitle .ft-state-selected {
    background: url($imagePath + 'mod-tab-selected.gif') bottom center no-repeat;
}

.ft-tabs-withtitle .ft-tab-title {
    font-size: 11px;
    line-height: 34px;
}

.ft-tabs-withtitle .ft-state-selected .ft-tab-title {
    color: #000;
}

.ft-tabs-notitle .ft-tab {
    margin-left: 2px;
    border-top: 4px solid #A8A79C;
    width: 175px;
    text-align: center;
    background: $ftColor-Tint2 url($imagePath + 'mod-header-border.png') bottom 2px repeat-x;
}

.ft-tabs-notitle .ft-tab:first-child {
    margin-left: 0;
}

.ft-tabs-notitle .ft-tab-title {
    font-size: 12px;
    line-height: 34px;
    font-weight: bold;
    color: #979088;
}

.ft-tabs-notitle .ft-state-selected {
    border-top-color: #A7294D;
    background: #f6e9d8;
}

.ft-tabs-notitle .ft-state-selected .ft-tab-title {
    color: #333;
}