/* reset.scss */

body, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, pre, code {
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

acronym, a img, :link img, :visited img, fieldset {
    border: none;
}

address {
    font-style: normal;
}