$ftVelcro-spacingUnitFull: 20px;
$ftVelcro-spacingUnitHalf: 10px;
$ftVelcro-spacingUnitQuarter: 5px;

.ft-spc-btm-full {
    margin-bottom: $ftVelcro-spacingUnitFull;
}

.ft-spc-btm-half {
    margin-bottom: $ftVelcro-spacingUnitHalf;
}

.ft-spc-btm-qtr {
    margin-bottom: $ftVelcro-spacingUnitQuarter;
}