/** timestamp.scss */

.ft-timestamp {
    font-family: $ftFont-Benton;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #000;
}

.ft-lead-small .ft-timestamp {
    font-size: 11px;
}