/** titles.scss */

.ft-title {
    margin: 0;
    font-family: $ftFont-Georgia;
    color: #333;
}

.ft-title-large {
    font-size: 40px;
    line-height: 40px;
}

.ft-title-medium {
    font-size: 21px;
    line-height: 26px;
}

.ft-title-small {
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
}

.ft-lead {
    margin: 0;
    font-family: $ftFont-Benton;
    color: #505050;
}

.ft-lead-large {
    font-family: $ftFont-Georgia;
    font-size: 24px;
    line-height: 28px;
}

.ft-lead-small {
    font-size: 13px;
    line-height: 17px;
}

.ft-byline {
    font-family: $ftFont-Benton;
    clear: left;
    margin:15px 0 0 0;
    color: #666;
}