/* Primary Palette */
/* Greys */
/* Tints */
/* Colours */
/* Benton Regular */
@font-face {
  font-family: "BentonSans";
  src: url("../font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-2.eot");
  src: url("../font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-2.eot?#iefix") format("embedded-opentype"), url("../font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-3.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/* Benton Bold */
@font-face {
  font-family: "BentonSans";
  src: url("../font/76e393a7-edbd-4283-91db-93b1a40fe465-2.eot");
  src: url("../font/76e393a7-edbd-4283-91db-93b1a40fe465-2.eot?#iefix") format("embedded-opentype"), url("../font/76e393a7-edbd-4283-91db-93b1a40fe465-3.woff") format("woff");
  font-style: normal;
  font-weight: bold; }

/* These variables should probably be renamed to generic "ftFont-Serif" & "ftFont-SansSerif" once we have fully switched
   page components over to use the brand web fonts. Currently for example, there is a mix of Benton & Arial */
/* reset.scss */
body, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-weight: normal; }

ul, ol {
  list-style: none; }

acronym, a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

.ft-badge {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 4px 0px 4px;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.ft-badge-red {
  background-color: #cc0000;
  color: #fff; }

/** buttons.scss */
.ft-button {
  display: inline-block;
  margin: 0;
  padding: 0 8px !important;
  border-width: 0 !important;
  border-radius: 0.3em;
  width: auto !important;
  background: #4e8fbd;
  background: -webkit-gradient(linear, left top, left bottom, from(#549ccf), to(#4782ab));
  background: -moz-linear-gradient(#549ccf, #4782ab);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#549ccf, endColorstr=#4782ab);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#549ccf,  endColorstr=#4782ab)";
  zoom: 1;
  box-shadow: inset 0 1px 0 #90bfe0;
  -moz-box-shadow: inset 0 1px 0 #90bfe0;
  -webkit-box-shadow: inset 0 1px 0 #90bfe0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 0 0 0 #FFF;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer; }

.ft-button:hover {
  color: #dddddd; }

.ft-button-large {
  min-height: 30px;
  line-height: 30px;
  font-size: 16px; }

.ft-button-medium {
  min-height: 24px;
  line-height: 24px;
  font-size: 14px; }

.ft-button-small {
  min-height: 16px;
  line-height: 16px;
  font-size: 12px; }

.ft-button-negative {
  background: #b7315c;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc3366), to(#9f2f50));
  background: -moz-linear-gradient(#cc3366, #9f2f50);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3366, endColorstr=#9f2f50);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3366,  endColorstr=#9f2f50)";
  box-shadow: inset 0 1px 0 #D89AAD;
  -moz-box-shadow: inset 0 1px 0 #D89AAD;
  -webkit-box-shadow: inset 0 1px 0 #D89AAD; }

.ft-button.ft-state-disabled, .ft-button[disabled] {
  background: #acacac;
  background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#a5a5a5));
  background: -moz-linear-gradient(#b5b5b5, #a5a5a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b5b5b5, endColorstr=#a5a5a5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b5b5b5,  endColorstr=#a5a5a5)";
  box-shadow: inset 0 1px 0 #a5a5a5;
  -moz-box-shadow: inset 0 1px 0 #a5a5a5;
  -webkit-box-shadow: inset 0 1px 0 #a5a5a5;
  cursor: default;
  color: #fff; }

/* divider.scss */
.ft-divider {
  border-width: 0;
  border-radius: 4px;
  height: 9px;
  background-color: #e9decf; }

/** module-header.scss */
/**
 * Module header small - general
 */
.ft-header-small {
  position: relative;
  border-radius: 4px;
  background-color: #e9decf;
  height: 9px;
  line-height: 8px;
  font-size: 14px; }

.ft-header-small-title {
  display: inline-block;
  padding: 0 10px;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 10px;
  background-color: #fff1e0;
  color: #333; }

.msie7 .ft-header-small-title {
  display: inline;
  zoom: 1; }

.msie6 .ft-header-small-title {
  position: static;
  background-color: transparent; }

.ft-header-small-titleleft {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.ft-header-small-titleleft .ft-header-small-title {
  padding-left: 0; }

.ft-header-small-titlecenter {
  text-align: center; }

/**
 * Module header medium - general
 */
.ft-header-medium {
  clear: left;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  overflow: hidden;
  border-top: 4px solid #a7a59b;
  background: url("../img/mod-header-border.png") bottom left repeat-x; }

.ft-header-medium-title {
  float: left;
  margin: 8px 0 8px 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  font-style: normal;
  color: #434343; }

a.ft-header-medium-title:hover {
  color: #2e6e9e; }

.msie6 .ft-header-medium {
  height: 34px;
  overflow: visible; }

.msie6 .ft-header-medium-title {
  display: inline; }

.msie7 .ft-header-medium {
  min-height: 34px; }

/**
 * Module header medium variants
 */
.ft-header-medium-tabs {
  border-top: 0;
  background-color: #e9decf;
  background-image: none; }

.ft-header-medium-tint {
  background-color: #e9decf; }

/**
 * Module header medium tabs general
 */
.ft-tabs-large {
  background-image: none; }

.ft-tab-large {
  float: left;
  margin-left: 2px;
  border-top: 4px solid #A8A79C;
  width: 175px;
  text-align: center;
  background: #e9decf url("../img/mod-header-border.png") bottom left repeat-x; }

.ft-tab-large:first-child {
  margin-left: 0; }

.msie6 .ft-tab-large {
  margin-left: 0;
  width: 176px; }

.ft-tab-title {
  display: block;
  white-space: nowrap;
  color: #434343;
  text-overflow: ellipsis; }

.ft-tab-title img {
  vertical-align: middle; }

a.ft-tab-title:hover {
  color: #2e6e9e; }

.ft-tabs-large .ft-tab-title {
  font-size: 12px;
  line-height: 34px;
  font-weight: bold;
  opacity: 0.5; }

.ft-tabs-large .ft-state-selected {
  border-top-color: #A7294D;
  background: #f6e9d8; }

.ft-tabs-large .ft-state-selected .ft-tab-title {
  color: #333;
  opacity: 1; }

.ft-tabs-large .ft-state-selected .ft-tab-title:hover {
  cursor: text; }

/**
 * Module header medium sub-tabs
 */
.ft-tabs-small {
  padding-left: 20px;
  background: url("../img/mod-header-border.png") bottom left repeat-x;
  overflow: hidden; }

.ft-header-medium-title + .ft-tabs-small {
  float: right; }

.ft-tabs-large + .ft-tabs-small {
  clear: left;
  background-color: #f6e9d8; }

.msie6 .ft-tabs-small {
  zoom: 1; }

.ft-tab-small {
  float: left;
  margin-right: 10px; }

.ft-tabs-small .ft-tab-title {
  font-size: 11px;
  line-height: 34px; }

.ft-tabs-small .ft-state-selected {
  background: url("../img/mod-tab-selected.gif") bottom center no-repeat; }

.ft-tabs-small .ft-state-selected .ft-tab-title {
  color: #000; }

.ft-tabs-small .ft-state-selected .ft-tab-title:hover {
  cursor: text; }

/** headings.scss */
.ft-heading {
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  color: #000; }

.ft-heading a {
  color: #2e6e9e; }

.ft-heading a:hover {
  color: #000; }

.ft-heading-medium {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px; }

.ft-heading-small {
  font-size: 14px;
  line-height: 18px; }

/* images.scss */
.ft-image {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.msie7 .ft-image {
  float: left;
  display: inline; }

/* image sizes */
.ft-image-article {
  width: 600px;
  height: 338px; }

.ft-image-primary {
  width: 272px;
  height: 153px; }

.ft-image-secondary {
  width: 167px;
  height: 96px; }

.ft-image-tertiary {
  width: 114px;
  height: 64px; }

.ft-image-leader {
  width: 414px;
  height: 233px; }

.ft-image-fullwidth {
  width: 972px;
  height: 547px; }

.ft-image-credit {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 2px;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 9px;
  line-height: 9px;
  white-space: nowrap;
  color: #fff;
  background-color: black;
  /* Fallback */
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none; }

a.ft-image-credit {
  text-decoration: none; }

/** links.scss */
.ft-link {
  color: #2e6e9e;
  text-decoration: none; }

.ft-link:hover {
  color: #000; }

.ft-link-stealth {
  color: inherit;
  text-decoration: none; }

.msie7 .ft-link-stealth {
  color: expression(this.parentNode.currentStyle["color"]); }

.ft-link-stealth:hover {
  color: #2e6e9e; }

.ft-link-alternative {
  color: #9b164f; }

.ft-link-kicker {
  color: #000; }

/** Lists */
.ft-list {
  margin: 0;
  padding: 0;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #777777; }

.ft-list-item {
  margin: 0;
  padding: 0; }

.ft-list-bulletted .ft-list-item,
.ft-list-numbered .ft-list-item {
  margin-left: 18px; }

.ft-list-plain .ft-list-item {
  list-style-type: none; }

.ft-list-bulletted .ft-list-item {
  list-style-type: disc; }

.ft-list-numbered .ft-list-item {
  list-style-type: decimal; }

.ft-list-wrapping .ft-list-item {
  float: left;
  clear: none;
  margin-right: 18px; }

.ft-spc-btm-full {
  margin-bottom: 20px; }

.ft-spc-btm-half {
  margin-bottom: 10px; }

.ft-spc-btm-qtr {
  margin-bottom: 5px; }

/** states.scss */
.ft-state-hidden {
  display: none; }

/** timestamp.scss */
.ft-timestamp {
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #000; }

/** titles.scss */
.ft-title {
  font-family: Georgia, "Times New Roman", serif;
  color: #000; }

.ft-title-large {
  font-size: 40px;
  line-height: 40px; }

.ft-title-medium {
  font-size: 21px;
  line-height: 26px; }

.ft-title-small {
  font-size: 15px;
  font-weight: bold;
  line-height: 17px; }

.ft-lead {
  font-family: Georgia, "Times New Roman", serif;
  color: #505050; }

.ft-lead-large {
  font-size: 24px;
  line-height: 28px; }

.ft-lead-medium {
  font-size: 17px;
  line-height: 21px;
  color: #777777; }

.ft-lead-small {
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px; }

.ft-byline {
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  clear: left;
  color: #666; }
