.v-link {
    font-family: Arial, Helvetica, sans-serif;
    color: #66a;
    text-decoration: underline;
}

.v-link:hover {
    text-decoration: none;
}

.v-link-small {
    font-size: 12px;
}

.v-back-to-top {
    display: block;
    clear: both;
}